<!-- <p>customereditor works!</p> -->

<div class="login-container">
    <div class="login-box">
        <h2>Customer Form</h2>
        <form [formGroup]="customerForm" (ngSubmit)="onSubmit(customerForm)">
            <div class="form-group">
                <label for="firstname">First Name:</label>
                <input type="text" id="firstname" name="firstname" formControlName="firstname" required>
                <small class="text-danger"
                    *ngIf="customerForm.get('firstname')?.invalid && (customerForm.get('firstname')?.dirty || customerForm.get('firstname')?.touched)">
                    Please provide a first name.
                </small>
            </div>
            <div class="form-group">
                <label for="lastname">Last Name:</label>
                <input type="text" id="lastname" name="lastname" formControlName="lastname" required>
                <small class="text-danger"
                    *ngIf="customerForm.get('lastname')?.invalid && (customerForm.get('lastname')?.dirty || customerForm.get('lastname')?.touched)">
                    Please provide a last name.
                </small>
                <!-- <small class="text-danger" *ngIf="!this.loginForm.get('password')?.errors?.['maxlength'] && !this.loginForm.get('password')?.errors?.['minlength'] && loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
                    Please provide a password.
                </small>
                <small class="text-danger" *ngIf="this.loginForm.get('password')?.errors?.['minlength']">
                    Min length is {{ this.loginForm.get('password')?.errors?.['minlength']?.requiredLength }}.
                </small>
                <small class="text-danger" *ngIf="this.loginForm.get('password')?.errors?.['maxlength']">
                    Max length is {{ this.loginForm.get('password')?.errors?.['maxlength']?.requiredLength }}.
                </small> -->
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" formControlName="email" required>
                <small class="text-danger"
                    *ngIf="customerForm.get('email')?.invalid && (customerForm.get('email')?.dirty || customerForm.get('email')?.touched)">
                    Please provide a valid email address.
                </small>
            </div>
            <div class="form-group">
                <label for="phonenumber">Phone Number:</label>
                <input type="number" id="phonenumber" name="phonenumber" formControlName="phonenumber" required>
                <small class="text-danger"
                    *ngIf="customerForm.get('phonenumber')?.invalid && (customerForm.get('phonenumber')?.dirty || customerForm.get('phonenumber')?.touched)">
                    Please provide a valid phone number.
                </small>
            </div>
            <div class="row customerButtons">
                <div class="col">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
                <div class="col">
                    <button (click)="navigateToDashboard()" class="btn btn-secondary">Back</button>
                </div>
            </div>
        </form>
    </div>
</div>